body {
  font-size: 15pt;
  margin: 0px;
  text-align: center;
}

canvas {
  background: black;
}

#buttons{
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}

button {
  font-size: medium;
  width: 80px;
}
